<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css" rel="stylesheet"
        type="text/css" />
    <link rel="stylesheet" href="/public/assets/vendor/bootstrap/css/bootstrap.min.css" />
    <link href="/public/assets/vendor/fonts/circular-std/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="/public/assets/libs/css/style.css" />
    <link rel="stylesheet" href="/public/assets/vendor/fonts/fontawesome/css/fontawesome-all.css" />
    <link rel="stylesheet" href="/public/assets/vendor/charts/chartist-bundle/chartist.css" />
    <link rel="stylesheet" href="/public/assets/vendor/charts/morris-bundle/morris.css" />
    <link rel="stylesheet"
        href="/public/assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="/public/assets/vendor/charts/c3charts/c3.css" />
    <link rel="stylesheet" href="/public/assets/vendor/fonts/flag-icon-css/flag-icon.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <!-- Title  -->
   <title>KietCap - Thêm sản phẩm</title>

   <!-- Favicon  -->
   <link rel="icon" href="/public/img/core-img/favicon.ico" />
</head>

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="/admin/dashboard"><img class="logo-img" src="/public/img/core-img/logo.png" alt="logo"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        <li class="nav-item dropdown notification">
                            <a class="nav-link nav-icons" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"><i class="fas fa-fw fa-bell"></i>
                                <span class="indicator"></span></a>
                            <ul class="dropdown-menu dropdown-menu-right notification-dropdown">
                                <li>
                                    <div class="notification-title">Notification</div>
                                    <div class="notification-list">
                                        <div class="list-group">
                                            <a href="#" class="list-group-item list-group-item-action active">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img">
                                                        <img src="/public/assets/images/avatar-2.jpg" alt=""
                                                            class="user-avatar-md rounded-circle" />
                                                    </div>
                                                    <div class="notification-list-user-block">
                                                        <span class="notification-list-user-name">Jeremy
                                                            Rakestraw</span>accepted your invitation to join the team.
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img">
                                                        <img src="/public/assets/images/avatar-3.jpg" alt=""
                                                            class="user-avatar-md rounded-circle" />
                                                    </div>
                                                    <div class="notification-list-user-block">
                                                        <span class="notification-list-user-name">John Abraham </span>is
                                                        now following you
                                                        <div class="notification-date">2 days ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img">
                                                        <img src="/public/assets/images/avatar-4.jpg" alt=""
                                                            class="user-avatar-md rounded-circle" />
                                                    </div>
                                                    <div class="notification-list-user-block">
                                                        <span class="notification-list-user-name">Monaan Pechi</span>
                                                        is watching your main repository
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img">
                                                        <img src="/public/assets/images/avatar-5.jpg" alt=""
                                                            class="user-avatar-md rounded-circle" />
                                                    </div>
                                                    <div class="notification-list-user-block">
                                                        <span class="notification-list-user-name">Jessica
                                                            Caruso</span>accepted your invitation to join the team.
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="list-footer">
                                        <a href="#">View all notifications</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img
                                    src="<%= customer.avatar %> " alt="" class="user-avatar-md rounded-circle" /></a>
                            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown"
                                aria-labelledby="navbarDropdownMenuLink2">
                                <div class="nav-user-info">
                                    <% fullName=customer.fullNameCustomer.firstName + " " +
                                        customer.fullNameCustomer.lastName %>
                                        <h5 class="mb-0 text-white nav-user-name">
                                            <%= fullName %>
                                        </h5>
                                </div>
                                <a class="dropdown-item" href="#"><i class="fas fa-user mr-2"></i>Account</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-power-off mr-2"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">Menu</li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false"
                                    data-target="#submenu-1" aria-controls="submenu-1"><i
                                        class="fa fa-fw fa-user-circle"></i>Dashboard
                                    <span class="badge badge-success">6</span></a>
                                <div id="submenu-1" class="collapse submenu show">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/admin/dashboard">Tổng quan</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/admin/dashboard/categories-manager">Quản lý danh mục</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link active" href="/admin/dashboard/products-manager">Quản lý sản phẩm</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/admin/dashboard/orders-manager">Quản lý đơn hàng</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/admin/dashboard/users-manager">Quản lý người dùng</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">Thêm sản phẩm</h2>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item">
                                                <a href="#" class="breadcrumb-link">Dashboard</a>
                                            </li>
                                            <li class="breadcrumb-item" aria-current="page">
                                                Quản lý sản phẩm
                                            </li>
                                            <li class="breadcrumb-item active" aria-current="page">
                                                Thêm sản phẩm
                                            </li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content" style="width: 100%; height: 100vh">
                        <div class="container-fluid">
                            <form class="row g-3" accept-charset="utf-8" spellcheck="false"
                                enctype="multipart/form-data" action="/admin/dashboard/products-manager/add" method="POST">
                                <div class="col-md-12 col-sm-12 col-lg-12">
                                    <label for="validationServer01" class="form-label">Tên sản phẩm:</label>
                                    <input type="text" name="productname" class="form-control" id="validationServer01"
                                        value="" required />
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-12 my-3">
                                    <label for="validationServer01" class="form-label">Nội dung mô tả:</label>
                                    <textarea name="description" id="summernote"
                                        placeholder="Nhập nội dung bài viết tại đây."></textarea>
                                </div>
                                <!-- Input image -->
                                <label for="formFileMultiple" style="margin: 0 15px;" class="form-label">Ảnh mô tả (tối
                                    đa 4 ảnh)</label>
                                <input class="form-control mb-3 mt-1" style="margin: 0 15px; display: inline-block;"
                                    type="file" id="formFileMultiple" name="imagelist" multiple />
                                <!--  -->
                                <div class="col-md-6 col-sm-6 col-lg-6">
                                    <label for="validationServer01" class="form-label">Giá bán:</label>
                                    <input type="number" min="0" name="price" class="form-control"
                                        id="validationServer01" value="0" required />
                                </div>
                                <div class="col-md-6 col-lg-6 mb-3">
                                    <label for="validationTooltip04">Nhà cung cấp:</label>
                                    <select class="custom-select" name="supplier" id="validationTooltip04" required>
                                        <option selected disabled value="">Chọn</option>
                                        <% suppliers.forEach(supplier=> {%>
                                            <option value="<%= supplier._id %>">
                                                <%= supplier.supplierName %>
                                            </option>
                                            <%}) %>
                                    </select>
                                    <div class="invalid-tooltip">
                                        Please select a valid state.
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-4 mb-3">
                                    <label for="validationTooltip04">Danh mục:</label>
                                    <select class="custom-select" name="categories" id="validationTooltip04" required>
                                        <option selected disabled value="">Chọn</option>
                                        <% types.forEach(type=> {%>
                                            <option value="<%= type._id %>">
                                                <%= type.typeName %>
                                            </option>
                                            <%}) %>
                                    </select>
                                    <div class="invalid-tooltip">
                                        Please select a valid state.
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-4">
                                    <label for="validationTooltip04">Trạng thái:</label>
                                    <select class="custom-select" name="status" id="validationTooltip04" required>
                                        <option selected disabled value="">Chọn</option>
                                        <option value="false">Ẩn</option>
                                        <option value="true">Hiển thị</option>
                                    </select>
                                    <div class="invalid-tooltip">
                                        Please select a valid state.
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary mt-3" type="submit">
                                        Thêm sản phẩm
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper  -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <!-- jquery 3.3.1 -->

    <script src="/public/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <!-- bootstap bundle js -->
    <script src="/public/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <!-- slimscroll js -->
    <script src="/public/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <!-- main js -->
    <script src="/public/assets/libs/js/main-js.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js"></script>
    <script>
        new FroalaEditor("textarea");
    </script>
    <script>
        $(function () {
            $("button[type = 'submit']").click(function () {
                var $fileUpload = $("input[type='file']");
                if (parseInt($fileUpload.get(0).files.length) > 4) {
                    toastr.error("Bạn chỉ có thể chọn tối đa 4 ảnh!", "Thông báo", {
                        timeOut: 1500,
                        progressBar: true,
                        closeButton: true,
                    });
                }
            });
        });
    </script>
</body>

</html>