<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/public/assets/vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/assets/libs/css/style.css" />
    <link rel="stylesheet" href="/public/assets/vendor/fonts/fontawesome/css/fontawesome-all.css" />
    <link rel="stylesheet" href="/public/assets/vendor/charts/chartist-bundle/chartist.css" />
    <link rel="stylesheet" href="/public/assets/vendor/charts/morris-bundle/morris.css" />
    <link rel="stylesheet"
        href="/public/assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/assets/vendor/charts/c3charts/c3.css" />
    <link rel="stylesheet" href="/public/assets/vendor/fonts/flag-icon-css/flag-icon.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <!-- Title  -->
   <title>KietCap - Quản lý danh mục</title>

   <!-- Favicon  -->
   <link rel="icon" href="/public/img/core-img/favicon.ico" />
</head>

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="/admin/dashboard"><img class="logo-img" src="/public/img/core-img/logo.png" alt="logo"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img
                                    src="<%= customer.avatar %> " alt="" class="user-avatar-md rounded-circle" /></a>
                            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown"
                                aria-labelledby="navbarDropdownMenuLink2">
                                <div class="nav-user-info">
                                    <% fullName=customer.fullNameCustomer.firstName + " " +
                                        customer.fullNameCustomer.lastName %>
                                        <h5 class="mb-0 text-white nav-user-name">
                                            <%= fullName %>
                                        </h5>
                                </div>
                                <a class="dropdown-item" href="#"><i class="fas fa-user mr-2"></i>Account</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-power-off mr-2"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">Menu</li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false"
                                    data-target="#submenu-1" aria-controls="submenu-1"><i
                                        class="fa fa-fw fa-user-circle"></i>Dashboard
                                    <span class="badge badge-success">6</span></a>
                                <div id="submenu-1" class="collapse submenu show">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/admin/dashboard">Tổng quan</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/admin/dashboard/categories-manager">Quản lý danh mục</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/admin/dashboard/products-manager">Quản lý sản phẩm</a>
                                        </li>
                                        <li class="nav-item active">
                                            <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1-2" aria-controls="submenu-1-2">Quản lý đơn hàng</a>
                                            <div id="submenu-1-2" class="collapse submenu show">
                                                <ul class="nav flex-column">
                                                    <li class="nav-item">
                                                        <a class="nav-link active" href="/admin/dashboard/pending-orders-manager">Chờ xác nhận</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="/admin/dashboard/orders-manager">Tình trạng đơn hàng</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/admin/dashboard/users-manager">Quản lý người dùng</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">Quản lý đơn hàng</h2>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item">
                                                <a href="#" class="breadcrumb-link">Dashboard</a>
                                            </li>
                                            <li class="breadcrumb-item" aria-current="page">
                                                Quản lý đơn hàng
                                            </li>
                                            <li class="breadcrumb-item" aria-current="page">
                                                Chờ xác nhận
                                            </li>
                                            <li class="breadcrumb-item active" aria-current="page">
                                                Trang <%= page %>
                                            </li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->
                    <div class="ecommerce-widget">
                        <!-- product manager  -->
                        <!-- ============================================================== -->
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <% if(bills.length > 0) {%>
                                <div class="card">
                                    <div class="header-product">
                                        <h5 class="card-header">Quản lý đơn hàng</h5>
                                        <a class="button" href="/admin/dashboard/pending-order-manager/update-all">Xác nhận tất cả</a>
                                    </div>
                                    <div class="card-body p-0">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead class="bg-light">
                                                    <tr class="border-0">
                                                        <th class="border-0">#</th>
                                                        <th class="border-0">Mã đơn hàng</th>
                                                        <th class="border-0">Tên khách hàng</th>
                                                        <th class="border-0">Địa chỉ</th>
                                                        <th class="border-0">Sản phẩm</th>
                                                        <th class="border-0">Đơn giá</th>
                                                        <th class="border-0">Phương thức thanh toán</th>
                                                        <th class="border-0">Thao tác</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% listBill = bills.length> numberItemPerpage ?
                                                        bills.slice((page - 1) * numberItemPerpage, numberItemPerpage *
                                                        page):
                                                        bills%>
                                                        <% i = 1 %>
                                                            <% listBill.forEach(element=> {%>
                                                                <tr>
                                                                    <td>
                                                                        <%= i %>
                                                                    </td>
                                                                    <td>
                                                                        <%= element._id %>
                                                                    </td>
                                                                    <td>
                                                                        <%= element.displayName.firstName + ' ' +  element.displayName.lastName%>
                                                                    </td>
                                                                    <td>
                                                                        <%= element.address %>
                                                                    </td>
                                                                    <td>
                                                                        <% element.listProduct.forEach(element => {%>
                                                                            <%= element.productName + ' x ' + element.amount  %><br> 
                                                                        <%})%> 
                                                                    </td>
                                                                    <td>
                                                                        <% cost = 0 %> 
                                                                        <% element.listProduct.forEach(element => {%>
                                                                            <% cost += element.amount * parseInt(element.productPrice)  %>
                                                                        <%})%> 
                                                                        <%= cost.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,' ) %> đồng
                                                                    </td>
                                                                    <td>
                                                                        <%= element.paymentMethod %>
                                                                    </td>
                                                                    <td>
                                                                        <a title="Xác nhận" style="margin-right: 5px"
                                                                            href="/admin/dashboard/pending-order-manager/update/<%= element._id %>"><i
                                                                                class="fas fa-check"></i></a>
                                                                        <a title="Hủy" onclick="comfirmDelete('Bạn có muốn hủy đơn hàng này?',event)"
                                                                            style="margin-left: 5px"
                                                                            href="/admin/dashboard/pending-order-manager/delete/<%= element._id %>"><i
                                                                                class="fas fa-times"></i></a>
                                                                    </td>
                                                                    <% i++ %>
                                                                </tr>
                                                                <%}) %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            <%} else {%>
                                <div class="notfound">
                                    <img src="/public/img/core-img/box.svg" alt="image">
                                    <h3>Hổng có đơn hàng nào hết!</h3>
                                </div>
                            <%} %> 
                        </div>
                        <nav aria-label="Page navigation example" style="margin-right: 15px">
                            <ul class="pagination justify-content-end">
                                <% numberPage=0 %>
                                    <% bills.length % numberItemPerpage==0 ?
                                        numberPage=(parseInt(bills.length/numberItemPerpage)) :
                                        numberPage=(parseInt(bills.length/numberItemPerpage)) + 1 %>
                                        <% for(var i=1; i <=numberPage; i++) {%>
                                            <li class="page-item <%= i == page ? 'active' : '' %>">
                                                <a class="page-link" href="/admin/dashboard/pending-orders-manager/<%= i %> ">
                                                    <%= i %>
                                                </a>
                                            </li>
                                            <%} %>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper  -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <!-- jquery 3.3.1 -->
    <script src="/public/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <!-- bootstap bundle js -->
    <script src="/public/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <!-- slimscroll js -->
    <script src="/public/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <!-- main js -->
    <script src="/public/assets/libs/js/main-js.js"></script>
    <script>
        function comfirmDelete(msg, event) {
            if (window.confirm(msg) == true) {
                return true;
            }
            event.preventDefault();
            return false;
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <% if(message && message.length> 0){%>
        <script>
            toastr.success("<%= message %>", "Thông báo", {
                timeOut: 1500,
                progressBar: true,
                closeButton: true,
            });
        </script>
        <%} %>
</body>

</html>